@font-face {
  font-family: font;
  src: url(../HelveticaRounded-Black.otf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
  background: $color-primary-50;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1' fill='white'%3E%3Cpath d='M0 0H10V10H0V0Z'/%3E%3C/mask%3E%3Cpath d='M0 0V-1H-1V0H0ZM10 0H11V-1H10V0ZM10 10V11H11V10H10ZM0 10H-1V11H0V10ZM0 1H10V-1H0V1ZM9 0V10H11V0H9ZM10 9H0V11H10V9ZM1 10V0H-1V10H1Z' fill='%23000000' fill-opacity='0.05' mask='url(%23path-1-inside-1)'/%3E%3C/svg%3E%0A");

  @include media(md) {
    font-size: 56.25%;
  }

  @include media(lg) {
    font-size: 62.5%;
  }
}

body {
  font-family: font, sans-serif;
  box-sizing: border-box;
}
