// ========== FONT SIZE

@mixin font-size-sm {
  font-size: 2rem;
}

@mixin font-size-md {
  font-size: 4rem;
}

@mixin font-size-lg {
  font-size: 6rem;
}

@mixin font-size-xl {
  font-size: 8rem;
}

@mixin font-size-xxl {
  font-size: 10rem;
}

@mixin font-size-xxxl {
  font-size: 12rem;
}

// ========== MARGIN

@mixin margin-h-sm {
  margin-left: 2rem;
  margin-right: 2rem;
}

@mixin margin-b-sm {
  margin-bottom: 2rem;
}

@mixin margin-b-md {
  margin-bottom: 4rem;
}

// ========== PADDING

@mixin padding-h-sm {
  padding-left: 2rem;
  padding-right: 2rem;
}
// ========== MEDIA QUERIES

@mixin media($breakpoint) {
  // 640
  @if $breakpoint == md {
    @media screen and (min-width: 40em) {
      @content;
    }
  }

  // 960
  @if $breakpoint == lg {
    @media screen and (min-width: 60em) {
      @content;
    }
  }

  // 1280
  @if $breakpoint == xl {
    @media screen and (min-width: 80em) {
      @content;
    }
  }

  // hover
  @if $breakpoint == hov {
    @media screen and (hover: hover) {
      @content;
    }
  }
}
