@mixin font-text-shadow {
  text-shadow: 2.5px 2.5px $color-primary-30;
}

@mixin font-size-sm {
  font-size: 3rem;
}

@mixin font-size-md {
  font-size: 4rem;
}

@mixin font-size-lg {
  font-size: 6rem;
}

@mixin font-size-xl {

// ========== MEDIA QUERIES

@mixin media($breakpoint) {
  // 640
  @if $breakpoint == md {
    @media screen and (min-width: 40em) {
      @content;
    }
  }

  // 960
  @if $breakpoint == lg {
    @media screen and (min-width: 60em) {
      @content;
    }
  }

  // 1280
  @if $breakpoint == xl {
    @media screen and (min-width: 80em) {
      @content;
    }
  }
}
