$color-primary-50: hsl(0, 0%, 50%);
$color-primary-40: hsl(0, 0%, 40%);
$color-primary-30: hsl(0, 0%, 30%);
$color-secondary-75: hsl(90, 100%, 75%);
$color-tertiary-75: hsl(0, 100%, 75%);

$color-white: hsl(38, 0%, 100%);
$color-black: hsl(38, 0, 0%);
