$color-primary: hsl(0, 0%, 50%);
$color-primary-30: hsl(0, 0%, 30%);
$color-secondary: hsl(90, 100%, 75%);
$color-tertiary: hsl(0, 100%, 75%);

$color-white: hsl(38, 0%, 100%);
$color-black: hsl(38, 0, 0%);
