@import 'variables';
@import 'mixins';
@import 'global';
@import 'question-symbol';
@import 'scoreboard';
@import 'game';
@import 'result-message';
@import 'keyframes';

.container {
  margin: 4rem auto;
  padding: 0 2rem;
  min-width: 320px;
  max-width: 640px;

  @include media(md) {
    width: 75%;
  }
}

.fa.fa-times {
  color: $color-secondary-75;
}

.fa.fa-circle-o {
  color: $color-tertiary-75;
}
