@import 'variables';
@import 'mixins';
@import 'global';

.container {
  margin: 4rem auto;
  padding: 0 2rem;
  min-width: 320px;
  max-width: 640px;

  @include media(md) {
    width: 75%;
}
}

.fa.fa-times {
  color: $color-secondary-75;
}

.fa.fa-circle-o {
  color: $color-tertiary-75;
}

// ===== QUESTION =====

.question-symbol {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $color-white;
  text-align: center;
  transition: all 0.5s ease-out;

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }

  &__text {
    width: 100%;
    @include font-size-md;
    @include margin-b-md;
  }

  &__button {
    @include padding-h-sm;
    @include margin-h-sm;
    @include font-size-xxl;
    background: none;
    border: none;
    outline: none;
    transition: 0.2s all;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      i {
        color: $color-white;
      }
    }

    &:active {
      transform: scale(1);
    }
  }
}

// ===== SCOREBOARD =====

.scoreboard {
  @include margin-b-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: $color-white;
  @include font-size-md;
  text-transform: uppercase;
  transition: all 0.5s 1s ease-out;

  &--hidden {
    transform: translateY(-50vh);
  }

  &__player,
  &__computer {
    width: 50%;
  }

  &__computer {
    text-align: right;
  }

  &__player-label,
  &__computer-label {
    @include font-size-md;
  }

  &__player-value,
  &__computer-value {
    @include font-size-lg;
  }
}

// ===== GAME =====

.game {
  position: relative;
  @include margin-b-md;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s 0.5s ease-out;

  &--hidden {
    transform: scale(0);
  }

  &__square {
    width: (100%/3);
    position: relative;
    background: $color-primary-30;
    border: 0.25rem solid $color-white;
    text-align: center;

    &-0,
    &-3,
    &-6 {
      border-left-color: transparent;
    }

    &-0,
    &-1,
    &-2 {
      border-top-color: transparent;
    }

    &-2,
    &-5,
    &-8 {
      border-right-color: transparent;
    }

    &-6,
    &-7,
    &-8 {
      border-bottom-color: transparent;
    }

    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  &__table {
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    color: $color-white;
  }

  &__table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    @include font-size-xxl;
    font-weight: bold;
  }

  &__icon {
    opacity: 0;
    transition: opacity 0.25s;

    &--show {
      opacity: 1;
    }
  }
}

// ===== RESULT MESSAGE =====

.result-message {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__box {
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color-black, 0.75);
    animation: fadeInOutOpacity 4s forwards;
  }

  &__text {
    @include font-size-xl;
    text-align: center;
    color: $color-white;
  }
}

@keyframes fadeInOutOpacity {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
