@import 'variables';
@import 'mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background: $color-primary;
}

body {
  font-family: 'Germania One', cursive;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

.container {
  margin: 5rem auto;
  min-width: 320px;
  max-width: 640px;
}

.fa.fa-times {
  color: $color-secondary;
}

.fa.fa-circle-o {
  color: $color-tertiary;
}

// ===== QUESTION =====

#question {
  display: none;
  color: $color-white;
  text-align: center;
  p {
    @include font-size-md;
    padding-bottom: 4rem;
  }
  button {
    padding: 1rem 2rem;
    margin: 1rem;
    background: 0;
    border: 0 solid $color-white;
    outline: none;
    @include font-size-xl;
    color: $color-white;
    transition: 0.2s all;
  }
}

// ===== SCOREBOARD =====

#scoreboard {
  display: none; //flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: $color-white;
  @include font-size-sm;
  height: 5rem;
  text-transform: uppercase;
  div {
    width: (100%/3);
  }
  #computerScoreboard {
    text-align: right;
  }
  #resultMessage {
    text-align: center;
    @include font-size-md;
    white-space: nowrap;
  }
}

// ===== GRID LAYOUT =====

#game {
  display: none; //flex;
  flex-wrap: wrap;
}

.square {
  width: (100%/3);
  overflow: hidden;
  position: relative;
  background: $color-primary-30;
  border: 0.25rem solid $color-white;
  text-align: center;
}

.square::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.table {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  color: $color-white;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  @include font-size-xl;
  font-weight: bold;
}

// ===== REMOVES OUTER BORDERS =====

#square-0,
#square-3,
#square-6 {
  border-left: 0px solid transparent;
}

#square-0,
#square-1,
#square-2 {
  border-top: 0px solid transparent;
}

#square-2,
#square-5,
#square-8 {
  border-right: 0px solid transparent;
}

#square-6,
#square-7,
#square-8 {
  border-bottom: 0px solid transparent;
}
